* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}
body {
    background-color: black;
    color: #fff;
}


/*NAVBAR*/
.logo-text {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #fff;
    padding: 8px 14px;              
    border: 2px solid #d4af37;      
    border-radius: 12px;         
    letter-spacing: 4px;
    cursor: pointer;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: black;
    background-color: black;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #ccc;
}
nav a:hover {
    color: #d4af37;
}
.book-btn {
    padding: 10px 20px;
    background: yellow;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: black;
    display: inline-block;
}
.btn {
    padding: 10px 20px;
    background: transparent;
    border: 3px solid white;
    cursor: pointer;
    font-weight: bold;
    color: white;
}


/*MAIN*/
.main {
    height: 90vh;
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("background.png") center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-content {
    max-width: 600px;
}
.main h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.main p {
    color: #ccc;
    margin-bottom: 25px;
}


/*ABOUT*/
.about {
    display: flex;
    padding: 80px;
    gap: 50px;
    align-items: center;  
}
.about-img img {
    width: 350px;
    border-radius: 10px;
}
.about-text {
    margin-left: 60px;
}
.about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.about-text p {
    color: #ccc;
    margin-bottom: 20px;
}
.about-text ul li {
    margin-bottom: 10px;
}
.btn-outline {
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    color: #d4af37;
    border: 1px solid #d4af37;
}


/*FEATURES*/
.features {
    padding: 80px 60px;
    text-align: center;
    background-color: black;
}
.features h2 {
    margin-bottom: 50px;
    font-size: 32px;
    color: #fff;
}
.feature-box {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card {
    width: 250px;
    padding: 35px 25px;
    border: 1px solid #333;
    background: #111;
    color: #fff;
    transition: all 0.3s ease;
    border-radius: 8px;
}
.card h3 {
    margin-bottom: 12px;
    font-size: 20px;
}
.card p {
    font-size: 14px;
    color: #ccc;
}
.card:hover {
    transform: translateY(-8px);
    border-color: #d4af37;
}
.card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}


/*FOOTER*/
footer {
    text-align: center;
    padding: 10px;
    background: black;
    color: white;
}
