* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0f172a;
    color: #fff;
}

.container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.content {
    width: 45%;
    padding: 70px;
    border: 3px solid;
    border-radius: 20px;
    margin: 75px;
    justify-content: center;
}

h1 {
    margin-bottom: 10px;
}

p {
    color: #cbd5f5;
    margin-bottom: 30px;
}

.box {
    max-width: 400px;
}

input,
select,
button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

input,
select {
    background-color: #1e293b;
    color: #fff;
}

button {
    background-color: #00c27a;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #00a968;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.error {
    color: #f87171;
}
