* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #111827;
    color: #333;
    line-height: 1.6;
}

section {
    padding: 80px 10%;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    z-index: 1000;
}

.logo img {
    height: 40px;
    width: auto;
    object-fit: contain;
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #4f46e5;
}

.main {
    margin-top: 70px;
    background-color: #111827;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.main img {
    width: 320px;
    height: auto;
    border-radius: 20px;
}

.main-content {
    width: 750px;

}

.main-content h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.main-content h2 {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.main-content p {
    margin-bottom: 25px;
}


.btn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 12px 24px;
    margin-right: 10px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #4f46e5;
}


.about {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.about-text h2 {
    margin-bottom: 15px;
}


.skill {
    background-color: #111827;
    color: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.skill h2 {
    margin-bottom: 20px;
}

.skill-content h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.skill-content ul {
    margin-left: 20px;
}


.project {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.project h2 {
    margin-bottom: 10px;
}


.experience {
    background-color: #111827;
    color: white;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}

.experience h2 {
    margin-bottom: 10px;
}


.goal {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}


.contact {
    background-color: #111827;
    color: white;
    border-radius: 12px;
}

.contact h2 {
    margin-bottom: 15px;
}

.contact p {
    margin-bottom: 8px;
}

.footer {
    background-color: #0f172a;
    color: #cbd5e1;
    text-align: center;
    padding: 25px;
    font-size: 14px;
}